<% if (spree_current_user && spree_current_user.store_credits_total > 0) %>
  <div class='columns'>
  <% usable_amount = number_with_precision(@order.store_credit_maximum_usable_amount, :precision => 2, :separator => '.', :delimiter => '') %>
  <%= form.label :store_credit_amount, t('store_credit_maximum_amount', :amount => number_to_currency(usable_amount)) %>
  <%= form.text_field :store_credit_amount, :size => 10, :value => '' %>
  </div>
<% end %>
